/cpp/SerialTest/*
!/cpp/SerialTest/SerialTest

/cpp/SerialTest/SerialTest/*
!/cpp/SerialTest/SerialTest/*.cpp
!/cpp/SerialTest/SerialTest/*.h
!/cpp/SerialTest/SerialTest/*.c

/Python/DataPlot/*
!/Python/DataPlot/*.py